{% extends '_layouts/message' %}

{% set title = 'Invalid Variable' %}


{% block message %}

    <h1>
        Invalid variable <code>{{ name }}</code> passed into <code>{{ componentName }}</code>
    </h1>

    <p>
        The variable <code>{{ name }}</code> {{ isArray ? 'is an array that contains' : 'is' }} an object and cannot be passed into a Sprig component.
    </p>

{% endblock %}


{% css %}
    .message-container .pane {
        width: 90%;
    }

    @media (min-width: 900px) {
        .message-container .pane {
            width: 800px;
        }
    }
{% endcss %}
